<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.devplat.lmoroney.maps3_1">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/logo" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDJxDFlenXqRYZVM_RedEKZYN3T6WX3DYE" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="63QItxuHIKDmkgetjy11bZiBQgyFU7mwuL1ODRKF" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="RIjD8GgFvdM9Fn6WXq4NI8AGiMx61ic46xsKUsIx" />

        <activity
            android:name=".Page2Activity"
            android:label="Pratyum&apos;s Birthday" />
        <activity
            android:name=".AddFriends"
            android:label="@string/title_activity_add_friends" />
        <activity
            android:name=".GuestListActivity"
            android:label="@string/title_activity_guest_list" />
        <activity
            android:name=".PartySetting"
            android:label="@string/title_activity_party_setting" />
        <activity
            android:name=".FriendsList"
            android:label="@string/title_activity_friends_list" />
        <activity
            android:name=".Halloween_activity"
            android:label="@string/title_activity_halloween_activity"></activity>
    </application>

</manifest>
